<div class="Header">
  <div class="Header-global">
    <div class="Header-global-inner">
      <ul class="Header-global-nav">
        <li class="active">
          <a href="javascript:void(0)">商城</a>
        </li>
        <li>
          <a href="javascript:void(0)">部落格</a>
        </li>
      </ul>
      <div class="Header-acount"><a href="/signin">登入</a>
        <!-- react-text: 944 -->/
        <!-- /react-text --><a href="/signup">註冊</a>
      </div>
      <ul class="Header-global-links">
        <li><a href="http://line.naver.jp/ti/p/~@osd4146g" target="_blank"><span>找店長</span></a></li>
        <li><a href="/me"><span>會員專區</span></a></li>
        <li>
          <a href="/cart">
            <div class="Badge" data-count="6">
              <span>購物車</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="Header-contain">
    test123
  </div>

</div>
